<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
        <link rel="icon" href="/images/LLfavicon.ico" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/nav.css" />
    </head>
    <body>
        {{> navbar}}
        <h2>Welcome to the Left Lane</h2>
        <p>Hello LeftLanners</p>
        <div id="upcomingEvents"></div>

        <footer>
            <p id="ownerTag">2025 LeftLane Community San Diego CA</p>
            st
            <p id="designerTag">Website Designed By M Winer</p>
        </footer>
    </body>
</html>
