<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>

        <meta property="og:title" content="LeftLane Community" />
        
        <link rel="icon" href="/images/LLfavicon.ico" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/navbar.css" />

        <link rel="stylesheet" href="/public/styles/main.css" />
        <link rel="stylesheet" href="/public/styles/navbar.css" />
    </head>
    <body>
        {{> navbar}}
        <h2>Welcome to the Left Lane</h2>
        <p>Hello LeftLanners</p>
        <div id="upcomingEvents"></div>
        <section class="video-section">
            <video autoplay muted loop id="bg-video">
                <source src="{{video}}" />
                Your browser does not support the video tag.
            </video>
        </section>

        <section class="content-section">
            <div class="content">
                <div class="text-left">
                    <h2>Welcome!!</h2>
                </div>
                <div class="image-right">
                    <img src="{{image1}}" alt="Car Meet" />
                </div>
            </div>
        </section>

        <section class="content-section">
            <div class="content">
                <div class="image-left">
                    <img src="{{image2}}" alt="Supercars" />
                </div>
                <div class="text-right">
                    <h2>{{section2.title}}</h2>
                    <p>{{section2.text}}</p>
                </div>
            </div>
        </section>

        <footer>
            <script>
                window.va =
                    window.va ||
                    function () {
                        (window.vaq = window.vaq || []).push(arguments);
                    };
            </script>
            <script defer src="/_vercel/insights/script.js"></script>
            <p id="ownerTag">2025 LeftLane Community San Diego CA</p>
            <p id="designerTag">Website Designed By M Winer</p>
        </footer>
    </body>
</html>
