footer {
    background-color: #dedede;
    text-align: center;
}
body {
    background-color: #383838;
    padding: 10px;
}
.main {
    border: none;
    color: #a1ff00;
    padding-top: 5px;
}
h2 {
    text-align: center;
}
